<?xml version="1.0"?>
<launch>
    <include file="$(find scitos_annus_loomets_kitsing)/launch/scitos.launch">
        <arg name="gui" value="false" />
    </include>

    <rosparam command="load" file="$(find scitos_annus_loomets_kitsing)/config/mission.yaml" ns="mission"/>
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find scitos_annus_loomets_kitsing)/config/rviz/manual.rviz" />
    <node name="scitos_annus_loomets_kitsing" pkg="scitos_annus_loomets_kitsing" type="scitos_annus_loomets_kitsing_node" />
</launch>
